html, body {
    margin: 0;
}
body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color: aquamarine;
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    width: 15%;
    background-color: aqua;
    padding: 10px 20px 0px;
}
.header {
    width: 100%;
    height: 295;
}
.header img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.content {
    background-color: #f0f0f0;
    min-height: 150px;
    padding: 20px;
}
.footer {
    background-image: url('imagens_site/footer.png');
    background-size: cover; /* Ajusta a imagem para cobrir todo o footer */
    background-position: center; /* Centraliza a imagem no footer */
    padding: 20px;
    color: rgb(0, 0, 0); /* Altera a cor do texto para garantir legibilidade */
    display: flex; /* Usa flexbox para as divisões */
    justify-content: space-between; /* Espalha as divisões uniformemente */
  }
.footer-section {
    flex: 2; /* Faz com que cada seção ocupe o mesmo espaço */
    padding: 10px;
}